<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInsurer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://11.0.1.157:8101/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IInsurer" contract="IInsurer"
                name="IInsurer" />
        </client>
    </system.serviceModel>
</configuration>